<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858328836797-n6k2mdfcgtbjtan92qtimedahdearg9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858328836797-n6k2mdfcgtbjtan92qtimedahdearg9f</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ-YD9JWlRV4HkB4wrTlABuaIZWli4rW8</string>
	<key>GCM_SENDER_ID</key>
	<string>858328836797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moralesmicaella.JamSesh</string>
	<key>PROJECT_ID</key>
	<string>jamsesh-2a844</string>
	<key>STORAGE_BUCKET</key>
	<string>jamsesh-2a844.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:858328836797:ios:6e9fda4e656f40e5</string>
	<key>DATABASE_URL</key>
	<string>https://jamsesh-2a844.firebaseio.com</string>
</dict>
</plist>
